.page {
    margin: 30px;
}

.questionHeader {
    margin-bottom: 15px;
}

.postLayout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.postCell {
    margin: 15px;
}

.postText {
}

.voteCell {
    padding: 10px;
}

.voteCount {
    text-align: center;
    font-size: 2em;
}
